* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0 0 1rem;
}

#root {
  height: 100%;
}

.App {
  background-color: #2d2d2d;
  width: 100%;
  height: 100%;
  padding: 16px;
  min-height: 100vh;
}

.container {
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  margin: 0 0 16px;
}

.header .row {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px;
}

.header .info > div {
  display: flex;
  margin: 0;
  font-size: 18px;
  align-items: center;
}

.header .info svg {
  margin-right: 8px;
  width: 22px;
  height: 22px;
}

.header .info .repos {
  margin-bottom: 16px;
}

.header .links {
  flex-direction: row;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.header .links .button {
  display: flex;
  margin-right: 8px;
}

.header .links .button svg {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.options {
  display: flex;
  font-size: 16px;
  align-self: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.options .option-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.options .option-container:last-child {
  margin-bottom: 0;
}

.options .filter .option-label {
  margin-right: 8px;
}

.filter label {
  display: block;
  position: relative;
  margin-right: 8px;
  color: #004ec2;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.filter label .radio-container {
  position: relative;
  border: solid 2px #004ec2;
  border-radius: 16px;
  padding: 5px 12px 4px 28px;
}

.checkmark {
  position: absolute;
  top: 4px;
  left: 4px;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  border: solid 2px #004ec2;
}

.filter label:hover input ~ .radio-container {
  background-color: #004ec2;
  color: #ffffff;
}

.filter label:hover input ~ .radio-container .checkmark {
  background-color: #ffffff;
}

.filter label input:checked ~ .radio-container .checkmark {
  background-color: #004ec2;
  border-color: #ffffff;
}

.filter input:checked ~ .radio-container {
  background-color: #004ec2;
  color: #ffffff;
}

.filter label input:checked ~ .radio-container .checkmark:after {
  display: block;
}

.filter label input:checked .radio-text {
  color: #ffffff;
}

.filter label .checkmark:after {
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
}

.filter label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.filter label input:disabled ~ .radio-container {
  background-color: #a8a7a7;
  color: #ffffff;
  border-color: #a8a7a7;
}

.filter label input:disabled ~ .radio-container .checkmark {
  background-color: #a8a7a7;
  border-color: #a8a7a7;
}

.filter label input:disabled:checked ~ .radio-container .checkmark {
  border-color: #ffffff;
}

.filter label input:disabled:checked ~ .radio-container .checkmark:after {
  border-color: #ffffff;
}

.option-container select {
  font-size: 16px;
  border-color: #004ec2;
  background-color: #004ec2;
  color: #ffffff;
  border-radius: 4px;
  border-width: 2px;
  padding: 2px;
}

.sort .option-label {
  margin-right: 8px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .pagination-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination .pagination-list button {
  margin: 0;
  cursor: pointer;
  border-radius: 0;
  width: 52px;
}

.pagination .pagination-list li:first-of-type button {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.pagination .pagination-list li:last-of-type button {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.pagination .pagination-list button:hover {
  color: #004ec2;
  background-color: #ffffff;
}

.pagination .pagination-list li {
  position: relative;
}

.pagination .pagination-list .current button {
  background-color: #525252;
  color: #ffffff;
}

.pagination .pagination-list button,
.pagination .pagination-list .current button:focus {
  outline: none;
}

.pagination .pagination-list .current button:hover {
  color: #ffffff;
}

.pagination .pagination-list .dropdown-list {
  position: absolute;
  background-color: #ffffff;
  z-index: 99;
  display: none;
  text-align: center;
  width: 52px;
}

.bottom-pagination .pagination .pagination-list .dropdown-list {
  bottom: 36px;
}

.pagination .pagination-list .open.dropdown-button,
.pagination li .dropdown-list.open .dropdown-item:hover {
  color: #004ec2;
  background-color: #ffffff;
}

.pagination .pagination-list .dropdown-list.open {
  display: block;
}

.pagination .pagination-list .dropdown-list.open .current,
.pagination .pagination-list .dropdown-list.open .current:hover {
  background-color: #525252;
  color: #ffffff;
}

.pagination li .dropdown-list.open .dropdown-item {
  padding: 16px;
  border: solid 1px #525252;
  color: #ffffff;
  background-color: #004ec2;
  cursor: pointer;
  padding: 8px;
}

.pagination select {
  margin-right: 8px;
}

.top-pagination,
.bottom-pagination {
  padding: 16px;
}

.main-content {
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  /* display: flex; */
}

.list {
  border-top: solid 1px #525252;
  border-bottom: solid 1px #525252;
  position: relative;
  padding: 16px;
}

.repository-list .meta {
  margin-bottom: 16px;
}

.repository-list .repository {
  border-bottom: solid 1px #525252;
  padding: 16px 0;
  margin-bottom: 16px;
}

.repository-list .repository:last-child {
  border-bottom: none;
}

.repository-list .repository .links {
  display: flex;
  margin-bottom: 16px;
}

.repository-list .repository .links .button {
  margin-right: 8px;
  cursor: pointer;
}

.repository-list .inline-icon-button {
  padding-left: 12px;
}

.repository-list .inline-icon-button svg {
  margin-right: 6px;
}

.repository-list .top-contributors .loader {
  padding: 16px;
}

.repository-list .top-contributors .loader::after {
  width: 60px;
  height: 60px;
}

.repository-list .link .show-more-icon {
  margin-left: 4px;
  display: inline-block;
}

.repository-list .show-more .link .show-more-icon {
  transform: rotate(180deg);
}

.contributors-container {
  position: absolute;
  top: 0;
  right: 0;
}

.sticky.contributors-container {
  margin: 0 16px;
}

.contributors-list .contributors-header h3 {
  margin: 0;
}

.contributors-list .repo-name {
  display: block;
  font-weight: bold;
}

.contributors-list .contributors {
  display: flex;
  margin: 16px 0;
  align-items: center;
}

.contributors-list a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  margin: 8px;
  text-decoration: none;
  border-radius: 8px;
}

.contributors-list a:hover {
  background-color: #004ec2;
}

.contributors-list a:hover .contributor-name {
  color: #ffffff;
}

.contributors-list a .contributor-name {
  display: block;
  color: #004ec2;
  padding: 8px 0 0;
}

.contributors-list .contributor img {
  border-radius: 50%;
}

.contributors-list .button {
  cursor: pointer;
}

.button,
button {
  background-color: #004ec2;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  border-width: 0;
  color: #ffffff;
  font-size: 16px;
  border: solid 1px #004ec2;
}

.button:hover,
button:hover {
  color: #004ec2;
  background-color: #ffffff;
}

.link {
  border: none;
  background: none;
  color: #004ec2;
  padding: 0;
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
}

.loader {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.loader::after {
  content: "";
  display: block;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #004ec2;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .header .button {
    width: 100%;
  }

  .header .button:last-child {
    margin-top: 8px;
  }

  .option-label {
    display: none;
  }

  .options,
  .options select {
    font-size: 12px;
  }

  .filter label .radio-container {
    padding-left: 22px;
    padding-right: 10px;
    padding-top: 6px;
  }

  .filter .checkmark {
    top: 3px;
    left: 2px;
  }

  .list {
    position: relative;
    width: 100%;
  }

  .pagination .pagination-list button {
    display: none;
  }

  .pagination .pagination-list li:first-child button,
  .pagination .pagination-list li:last-child button,
  .pagination .pagination-list .dropdown button {
    display: block;
  }

  .repository .description {
    word-wrap: break-word;
  }

  .repository-list .repository .links {
    text-align: center;
    flex-flow: column;
  }

  .repository .button:last-child {
    margin-top: 8px;
  }

  .main-content .contributors-container {
    position: fixed;
    width: auto;
  }

  .contributors-container .contributors-list {
    width: 100%;
  }
}
